In [1]:
import pandas as pd

In [2]:
FILEPATH = "../../csv/metrics/NFTX-WETH-10mTWAP-20210115-20210630"

In [3]:
FILENAME_MMS = f"{FILEPATH}-mms.csv"
FILENAME_BETAS = f"{FILEPATH}-betas.csv"

In [4]:
df_mms = pd.read_csv(FILENAME_MMS)
df_mms

,Unnamed: 0,alpha=0.01,alpha=0.025,alpha=0.05,alpha=0.075,alpha=0.1
0,t=3600,4.176097e-01,1.541763e-01,7.536728e-02,4.957064e-02,3.655993e-02
1,t=7200,9.800475e-01,3.242831e-01,1.531425e-01,9.963933e-02,7.312623e-02
2,t=10800,1.750820e+00,5.162149e-01,2.352739e-01,1.513537e-01,1.104839e-01
3,t=14400,2.808510e+00,7.335884e-01,3.223853e-01,2.050024e-01,1.488119e-01
4,t=18000,4.259545e+00,9.801277e-01,4.149547e-01,2.607674e-01,1.882112e-01
...,...,...,...,...,...,...
715,t=2577600,3.661615e+88,4.390466e+36,6.036439e+18,4.451619e+12,3.149539e+09
716,t=2581200,4.825577e+88,4.922298e+36,6.401496e+18,4.631538e+12,3.244844e+09
717,t=2584800,6.359466e+88,5.518527e+36,6.788616e+18,4.818723e+12,3.343029e+09
718,t=2588400,8.380827e+88,6.186946e+36,7.199129e+18,5.013465e+12,3.444182e+09
719,t=2592000,1.104455e+89,6.936293e+36,7.634449e+18,5.216071e+12,3.548392e+09

In [5]:
# Change Unnamed: 0 column name and convert secs to hours
df_mms['hours'] = df_mms['Unnamed: 0']
df_mms.drop('Unnamed: 0', axis=1, inplace=True)
df_mms['hours'] = df_mms['hours'].apply(lambda x: int(x[2:])/3600)
df_mms

,alpha=0.01,alpha=0.025,alpha=0.05,alpha=0.075,alpha=0.1,hours
0,4.176097e-01,1.541763e-01,7.536728e-02,4.957064e-02,3.655993e-02,1.0
1,9.800475e-01,3.242831e-01,1.531425e-01,9.963933e-02,7.312623e-02,2.0
2,1.750820e+00,5.162149e-01,2.352739e-01,1.513537e-01,1.104839e-01,3.0
3,2.808510e+00,7.335884e-01,3.223853e-01,2.050024e-01,1.488119e-01,4.0
4,4.259545e+00,9.801277e-01,4.149547e-01,2.607674e-01,1.882112e-01,5.0
...,...,...,...,...,...,...
715,3.661615e+88,4.390466e+36,6.036439e+18,4.451619e+12,3.149539e+09,716.0
716,4.825577e+88,4.922298e+36,6.401496e+18,4.631538e+12,3.244844e+09,717.0
717,6.359466e+88,5.518527e+36,6.788616e+18,4.818723e+12,3.343029e+09,718.0
718,8.380827e+88,6.186946e+36,7.199129e+18,5.013465e+12,3.444182e+09,719.0
719,1.104455e+89,6.936293e+36,7.634449e+18,5.216071e+12,3.548392e+09,720.0

In [6]:
# MM value at 4 hours for 95% confidence
df_mms[df_mms['hours'] == 4]['alpha=0.05']

3    0.322385
Name: alpha=0.05, dtype: float64

In [7]:
# MM value at 2 days for 95% confidence
df_mms[df_mms['hours'] == 48]['alpha=0.05']

47    21.791106
Name: alpha=0.05, dtype: float64

In [13]:
df_betas = pd.read_csv(FILENAME_BETAS)
df_betas

    Unnamed: 0  alpha=0.05
0       t=3600    0.064613
1       t=7200    0.060762
2      t=10800    0.058187
3      t=14400    0.056207
4      t=18000    0.054581
..         ...         ...
215   t=777600    0.017606
216   t=781200    0.017557
217   t=784800    0.017509
218   t=788400    0.017461
219   t=792000    0.017414

[220 rows x 2 columns]